1)
Characteristics of tuple are:
i)Indexed.
ii)Ordered
iii)Immutable
iv)Duplicate is allowed

Yes tuples are immutable whichs means means it can't be chnaged.

2)
Two tuple methods are count and index.

Example of count:

In [5]:
tuple=(1,2,3,1,4,5,1)

In [6]:
tuple.count(1)

3

Example of Index:

In [9]:
tuple.index(5)

5

Here index shows the position of 5 in tuple that is 5th position starting from 0.

Tuples have only two inbuilt methods because it is immutable where as list is mutable which allow it to have more methods.

Q3)
Sets is a collection of data type which don't allow duplicates.

In [15]:
List=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
required_list=set(List)
print(required_list)

{1, 2, 3, 4}

Q4)
Union() method is used to add a set from specified set and thus a new set is created.
Where as Update() method is used to update value in a set from a specified set and no new set is created.

In [18]:
set1={1,2,3}
set2={2,3,4}
set.union(set1,set2)

{1, 2, 3, 4}

In [23]:
set2.update(set1)

In [24]:
set2

{1, 2, 3, 4}

Here we can notice that in union a new set has been creaed whereas in update set2 has been updated and no new set is created.

5)
Dictionary is a datatype which is used to store value just like a dictionary does.

In [26]:
dict={"first name":"Rajat","Last name":"Seth"}

In [31]:
dict

{'first name': 'Rajat', 'Last name': 'Seth'}

Dictionary is Ordered.

6)
Yes we can create a nested dictionary

In [33]:
dict={"Student1":{"name":"Rajat seth","Age":"21"},"student2":{"name":"Aakash kumar","Age":"21"}}

In [34]:
dict

{'Student1': {'name': 'Rajat seth', 'Age': '21'},
 'student2': {'name': 'Aakash kumar', 'Age': '21'}}

Q7)

In [41]:
dict1={'language':'Python','course':'Data ScienceMasters'}

In [46]:
dict1.setdefault("topics",['Python','MachineLearning','DeepLearning'])

In [49]:
dict1

{'language': 'Python',
 'course': 'Data ScienceMasters',
 'topics': ['Python', 'MachineLearning', 'DeepLearning']}


Q8)

Three View objects in dictionaries are:
i)Key
ii)Value
iii)Items

In [51]:
dict1={'Sport':'Cricket','Teams':['India','Australia','England','South Africa','Sri LAnka','New Zealand']}
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri LAnka', 'New Zealand'])])

In [52]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [53]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri LAnka', 'New Zealand']])